{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}

{# IF add more button  #}
{{ attach_library('ts_admin_base_theme/paragraphs') }}
{% set element_name = element['#name'] %}
{% set bundle = element['#bundle_machine_name'] %}
{% set image_path = "assets/paragraphs/" ~ bundle ~ ".svg" %}
{% if 'field_paragraph_multi' in element_name and '_add_more' in element_name %}
  <div class="field_paragraph_add_more_button" data-type="{{ bundle }}">

    <button{{ attributes.addClass('paragraph') }} >
      <div class="paragraph-img-wrapper">
        <img class="paragraph-img" alt="" src="{{ module_path(image_path) }}" alt=""/>
      </div>
      <div class="paragraph-title">
        {{ element['#value'] }}
      </div>
    </button>{{ children }}
  </div>
{% else %}
  <input{{ attributes }} />{{ children }}
{% endif %}

