.paragraphs-add-dialog {
  padding: 0;
}
.paragraphs-add-dialog ul,
.paragraphs-add-dialog li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.paragraphs-add-dialog-list {
  width: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}
.paragraphs-add-dialog-list .paragraph {
  margin: 1rem;
  background-color: transparent;
  background-image: none !important;
  padding: 1rem 0;
  width: 200px;
  border: none;
  text-align: center;
  outline: none;
  transition: box-shadow 0.3s ease;
}
.paragraphs-add-dialog-list .paragraph:hover {
  box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.paragraphs-add-dialog-list .paragraph-img {
  max-height: 100%;
  max-width: 100%;
}
.paragraphs-add-dialog-list .paragraph-img-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraphs-add-dialog-list .paragraph-title {
  padding: 0.5rem;
}

.js .paragraph-top {
  align-items: flex-start;
}

.paragraph-head-wrapper {
  display: flex;
}
.paragraph-head-wrapper .img-wrapper {
  position: relative;
  width: calc( 3/2 * 40px ) !important;
  min-width: calc( 3/2 * 40px ) !important;
  height: 40px !important;
  min-height: 40px !important;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paragraph-head-wrapper .img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.paragraph-head-wrapper .title {
  white-space: normal;
}

.paragraph-type-icon {
  min-width: 100px;
  max-width: 100px;
}
/*# sourceMappingURL=paragraphs.css.map */
