.paragraphs-add-dialog {
  padding: 0;

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-list {
    width: auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;


    .paragraph {
      margin: 1rem;
      background-color: transparent;
      background-image: none !important;
      padding: 1rem 0;
      width: 200px;
      border: none;
      text-align: center;
      outline: none;

      transition: box-shadow .3s ease;

      &:hover {
        box-shadow: 0 0 1rem .2rem rgba(0, 0, 0, .2);
      }

      &-img {
        max-height: 100%;
        max-width: 100%;

        &-wrapper {
          width: 100%;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &-title{
        padding: .5rem;
      }
    }
  }
}

