.js .paragraph-top{
  align-items: flex-start;
}
.paragraph-head-wrapper {
  display: flex;

  .img-wrapper {
    $height: 40px;
    position: relative;
    width: calc( 3/2 * #{$height} ) !important;
    min-width: calc( 3/2 * #{$height} ) !important;
    height: $height !important;
    min-height: $height !important;
    margin-right: .5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .title{
    white-space: normal;
  }
}
