{% set userMenuId = 'user_menu' %}
{% set mainActionsId = 'main_actionss' %}

<div class="shortcuts">
  {{ blocks | without(userMenuId) }}

  <div class="toolbar-id--toolbar-icon-user user-menu">
    <a href="/fr/user" class="toolbar-icon toolbar-icon-user trigger toolbar-item" id="toolbar-item-user" data-toolbar-tray="toolbar-item-user-tray" role="button" aria-pressed="false">{{ user.account.name }}</a>
        {{ blocks[userMenuId] }}
  </div>
</div>
