.toolbar-lining {
  //.toolbar-lining.clearfix {

  ul, li {
    margin: 0;
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-item__tools {
    margin-left: 0 !important;
  }

  .toolbar-menu-administration {
    flex-shrink: 1;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 0 !important;
  }

  .shortcuts {

    h2 {
      display: none;
    }

    a:hover {
      background: var(--gin-bg-item-hover);
      color: var(--gin-color-primary-hover);
    }
  }
}

/**======================================================
||                  toolbar bar.                      ||
=======================================================*/
#toolbar-bar{
  .toolbar-tab--toolbar-item-user{
    display: none;
  }
}


/**======================================================
||                  Orientation button                      ||
=======================================================*/
body .toolbar .toolbar-bar .toolbar-toggle-orientation {
  display: block !important;
  //position: fixed;
  top: .5rem;
  left: 0;
  height: 3rem;
  width: 3rem;
  background: none;

  .toolbar-lining{
    display: block;
    height: 3rem;
    width: 3rem;
    overflow: hidden !important;
  }

  button {
    &.toolbar-icon-toggle-vertical:before {
      mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3c/defs%3e%3crect x='1.18' y='2.081' width='4.274' height='19.838' style=''%3e%3c/rect%3e%3cpath d='M 18.31 13.712 L 14.752 13.703 L 14.747 15.907 L 9.114 12.367 L 14.764 8.854 L 14.759 11.058 L 18.317 11.067 L 18.31 13.712 Z' style=''%3e%3c/path%3e%3c/svg%3e");
    }

    &.toolbar-icon-toggle-horizontal:before {
      mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' width='24px' height='24px' xmlns='http://www.w3.org/2000/svg'%3e  %3cdefs%3e%3c/defs%3e  %3crect x='1.817' y='2.145' width='19.519' height='4.082' style=''%3e%3c/rect%3e  %3cpath d='M 10.024 17.868 L 10.033 14.31 L 7.829 14.305 L 11.369 8.672 L 14.882 14.322 L 12.678 14.317 L 12.669 17.875 L 10.024 17.868 Z' style=''%3e%3c/path%3e%3c/svg%3e ");
    }

    &:before {
      mask-size: 100%;
      mask-position: center;
      mask-repeat: no-repeat;
      background: var(--gin-color-text);
    }

    &:hover:before, &:focus:before{
      background: var(--gin-color-primary);
    }
  }


}
