.toolbar-horizontal .toolbar-lining {
  // Mode horizontal.
  overflow: hidden;
  display: flex;
  justify-content: space-between;


  .shortcuts {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: stretch;


    /**======================================================
    ||                  Edition                      ||
    =======================================================*/
    #block-main-actions {
      padding: 0;

      h2 {
        display: flex !important;
        position: relative !important;
        overflow: auto;
        clip: auto;
        width: auto;
        height: 100%;

        font-size: 0;;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--gin-color-text-light);

        &:after {
          content: 'Actions';
          font-size: 13px;
          padding: 10px;
          line-height: 13px;
          font-weight: normal;

        }

        &:before {
          font-size: 16pt;
          content: '';
          background: var(--gin-color-text-light);
          mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
          -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox=' 0 0  24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
          mask-repeat: no-repeat;
          mask-size: cover;
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-left: 10px;
        }
      }

      &:before, &:after {
        $margin: 50%;
        content: '';
        display: block;
        position: absolute;
        top: #{$margin * .5};
        height: #{ 100 - $margin };
        width: 1px;
        background: rgb(170, 170, 170);
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }

      ul {
        display: none;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        position: absolute;
        width: auto;

        li {
          a {
            align-self: stretch;
          }
        }
      }

      &:hover {
        h2 {
          background: var(--gin-bg-item-hover);
        }

        ul {
          display: flex;
          background: var(--gin-bg-app);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 20px 20px 40px rgba(0, 0, 0, .08);

        }
      }
    }

    /**======================================================
    ||                  User menu.                      ||
    =======================================================*/
    .user-menu {
      display: flex;
      align-items: center;
      margin-left: 20px;
      width: auto;
      flex-grow: 0;
      height: 100%;
      padding: 0;

      .toolbar-icon-user {
        margin: 0;
        width: 100%;
        color: var(--gin-color-text-light);
        align-self: stretch;
        vertical-align: middle;
        line-height: 25px;
        padding-left: 40px !important;
        padding-right: 20px !important;

        &:before {
          $width: 20px;
          display: block;
          height: $width;
          width: $width;
          right: auto !important;
          left: 10px !important;
          background: var(--gin-color-text-light);
          top: 1.5rem;
        }
      }

      nav {
        position: absolute;
        display: none;
        right: 0;
        top: calc(100% - 1px);
        background: var(--gin-bg-app);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 20px 20px 40px rgba(0, 0, 0, .12);


        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
        }
      }

      &:hover {
        nav {
          display: block;
        }
      }
    }
  }
}


.gin--horizontal-toolbar #toolbar-administration .menu-item__tools, .gin--horizontal-toolbar #toolbar-administration .menu-item__admin_toolbar_tools-help {
  margin-left: 0 !important;

}


