.toolbar-menu-administration{
    --scroll-left: 0px;
  
    .hover-intent > .toolbar-menu{
      margin-left: calc(var(--scroll-left));
    }
  }
  
  
  .shortcuts{
    #block-main-actions ul{
      max-width: 20vw;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  
  #toolbar-item-administration-tray{
    max-width: 100vw;
    .toolbar-lining{
      width: 100%;
    }
  }
  