.admin {
  .toolbar-lining .shortcuts {
    & > *:not(.user-menu) {
      display: none;
    }
  }
}

.toolbar-horizontal{
  .toolbar-lining .shortcuts {
    .user-menu > a.toolbar-icon-user {
      padding: 20px 40px 20px 1rem;
      line-height: 13px;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:before {
        top: 50%;
        right: 1rem;
        left: auto;
        transform: translateY(-50%);
      }
    }
  }
}

.toolbar-vertical {
  .toolbar-lining .shortcuts {
    .user-menu > a.toolbar-icon-user {
      &:before {
        top: 50%;
      }

      text-align: center;
    }
  }
}
