.toolbar-fixed.toolbar-vertical{
  .toolbar-oriented{
    .toolbar-menu-administration{
      margin-left: 0 !important;
      //margin-top: 3rem;
      & > .toolbar-menu{
        flex-direction: column;
      }
    }
  }

  @media( min-width: 976px){
    &{
      padding-top: 0 !important;
    }
    .toolbar-bar{
      height: calc(100%) !important;
      top: 0;
      width: 0 !important;
      //display: none;
    }

    .toolbar-oriented{
      width: 0 !important;
    }
  }
}

