$toolbarMinSize: 240px;
$toolbarMaxSize: 240px;
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: $toolbarMinSize;
}

.toolbar-vertical {

  /**======================================================
  ||                  top toolbar                      ||
  =======================================================*/
  .toolbar-bar {
    background: var(--gin-color-button-text) !important;
    box-shadow: 0 0 40px rgba(0, 0, 0, .12) !important;

    a {
      color: var(--gin-color-text) !important;
    }

    .toolbar-tab > .toolbar-icon:before {
      background: var(--gin-color-text) !important;
    }
  }

  .toolbar-tray.is-active {
    transition: min-width .2s ease;
    min-width: $toolbarMinSize;


    .toolbar-icon-admin-toolbar-tools-help:before {
      left: 1.7rem !important;
    }

    &:hover {
      min-width: $toolbarMaxSize;
    }

    .toolbar-lining {
      display: flex;
      flex-direction: column;
      min-height: auto;
      height: 100vh;

      /**======================================================
      ||                  commons                      ||
      =======================================================*/
      ul, li {
        margin: 0;
        padding: 0;
      }

      .toolbar-menu-administration {
        overflow-y: auto;
        overflow-x: hidden;
        flex-shrink: 1;
        flex-grow: 1;

        /**======================================================
        ||                  Menu items                      ||
        =======================================================*/
        .menu-item {
          a {
            white-space: nowrap;
          }

          .toolbar-icon.toolbar-handle:focus {
            background: transparent !important;
          }

          /**======================================================
          ||                  Sub menu                      ||
          =======================================================*/
          &.open {
            background: var(--gin-bg-item-hover);

            & > .toolbar-menu {
              background: transparent;
            }

            .level-3 > ul {
              background: none;
            }

            a:not(.toolbar-icon) {
              padding: 2rem;
            }
          }
        }
      }
    }

    /**======================================================
    ||                  shortcuts                      ||
    =======================================================*/
    .shortcuts {
      display: flex;
      flex-direction: column;
      flex-grow: 0;

      /**======================================================
      ||                  Editino                      ||
      =======================================================*/
      #block-main-actions {
        position: relative;
        margin: 0;
        flex-grow: 1;

        h2 {
          padding: 10px 0;
          display: flex !important;
          position: relative !important;
          overflow: auto;
          clip: auto;
          width: auto;
          height: auto;

          font-size: 0;;
          flex-direction: row;
          align-items: center;
          justify-content: left;
          color: var(--gin-color-text-light);

          &:after {
            content: 'Actions';
            font-size: 13px;
            padding: 10px;
            line-height: 13px;
            font-weight: normal;

          }

          &:before {
            font-size: 16pt;
            content: '';
            background: var(--gin-color-text-light);
            mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
            -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox=' 0 0  24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
            mask-repeat: no-repeat;
            mask-size: cover;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-left: 10px;
          }
        }

        &:before, &:after {
          $margin: 50%;
          content: '';
          display: block;
          position: absolute;
          top: #{ $margin * .5 };
          height: #{ 100 - $margin };
          width: 1px;
          background: rgb(170, 170, 170);
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }

        ul {
          max-height: 0;
          max-width: none;
          flex-direction: column;
          align-items: stretch;
          padding: 0;
          width: 100%;
          transition: max-height .6s ease;
          position: relative;

          li {
            a {
              align-self: stretch;
            }
          }
        }

        &:hover {

          box-shadow: 0 0 40px rgba(0, 0, 0, .12) !important;

          h2 {
            background: var(--gin-bg-item-hover);
          }

          ul {
            max-height: 100vh;
          }
        }
      }


      /**======================================================
     ||                  User menu.                      ||
     =======================================================*/
      .user-menu {
        flex-grow: 0;
        justify-self: flex-end;
        text-align: left;

        .toolbar-icon-user {
          margin: 0;
          width: 100%;
          color: var(--gin-color-text-light);
          line-height: 2.5rem;

          &:before {
            $width: 20px;
            display: block;
            height: $width;
            width: $width;
            background: var(--gin-color-text-light);
            top: 1.5rem;
          }
        }

        nav {
          max-height: 0;
          overflow: hidden;
          transition: max-height .3s linear;
        }

        &:hover {
          box-shadow: 0 0 40px rgba(0, 0, 0, .12) !important;

          nav {
            max-height: 20rem;
            transition: max-height .3s linear;
          }
        }
      }
    }
  }


  /**======================================================
  ||                  Sticky                      ||
  =======================================================*/
  @media (min-width: 1024px) {
    &.toolbar-tray-open {
      .region-sticky {
        top: 0;
      }

      .sticky-shadow {
        top: 48px;
      }

      .page-wrapper__node-edit-form .layout-region-node-secondary {
        top: 0 !important;
        height: 100% !important;
      }
    }
  }
}

