.toolbar-lining ul, .toolbar-lining li {
  margin: 0;
}
.toolbar-lining a {
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar-lining .menu-item__tools {
  margin-left: 0 !important;
}
.toolbar-lining .toolbar-menu-administration {
  flex-shrink: 1;
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 0 !important;
}
.toolbar-lining .shortcuts h2 {
  display: none;
}
.toolbar-lining .shortcuts a:hover {
  background: var(--gin-bg-item-hover);
  color: var(--gin-color-primary-hover);
}

/**======================================================
||                  toolbar bar.                      ||
=======================================================*/
#toolbar-bar .toolbar-tab--toolbar-item-user {
  display: none;
}

/**======================================================
||                  Orientation button                      ||
=======================================================*/
body .toolbar .toolbar-bar .toolbar-toggle-orientation {
  display: block !important;
  top: 0.5rem;
  left: 0;
  height: 3rem;
  width: 3rem;
  background: none;
}
body .toolbar .toolbar-bar .toolbar-toggle-orientation .toolbar-lining {
  display: block;
  height: 3rem;
  width: 3rem;
  overflow: hidden !important;
}
body .toolbar .toolbar-bar .toolbar-toggle-orientation button.toolbar-icon-toggle-vertical:before {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3c/defs%3e%3crect x='1.18' y='2.081' width='4.274' height='19.838' style=''%3e%3c/rect%3e%3cpath d='M 18.31 13.712 L 14.752 13.703 L 14.747 15.907 L 9.114 12.367 L 14.764 8.854 L 14.759 11.058 L 18.317 11.067 L 18.31 13.712 Z' style=''%3e%3c/path%3e%3c/svg%3e");
          mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3e%3cdefs%3e%3c/defs%3e%3crect x='1.18' y='2.081' width='4.274' height='19.838' style=''%3e%3c/rect%3e%3cpath d='M 18.31 13.712 L 14.752 13.703 L 14.747 15.907 L 9.114 12.367 L 14.764 8.854 L 14.759 11.058 L 18.317 11.067 L 18.31 13.712 Z' style=''%3e%3c/path%3e%3c/svg%3e");
}
body .toolbar .toolbar-bar .toolbar-toggle-orientation button.toolbar-icon-toggle-horizontal:before {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' width='24px' height='24px' xmlns='http://www.w3.org/2000/svg'%3e  %3cdefs%3e%3c/defs%3e  %3crect x='1.817' y='2.145' width='19.519' height='4.082' style=''%3e%3c/rect%3e  %3cpath d='M 10.024 17.868 L 10.033 14.31 L 7.829 14.305 L 11.369 8.672 L 14.882 14.322 L 12.678 14.317 L 12.669 17.875 L 10.024 17.868 Z' style=''%3e%3c/path%3e%3c/svg%3e ");
          mask-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' width='24px' height='24px' xmlns='http://www.w3.org/2000/svg'%3e  %3cdefs%3e%3c/defs%3e  %3crect x='1.817' y='2.145' width='19.519' height='4.082' style=''%3e%3c/rect%3e  %3cpath d='M 10.024 17.868 L 10.033 14.31 L 7.829 14.305 L 11.369 8.672 L 14.882 14.322 L 12.678 14.317 L 12.669 17.875 L 10.024 17.868 Z' style=''%3e%3c/path%3e%3c/svg%3e ");
}
body .toolbar .toolbar-bar .toolbar-toggle-orientation button:before {
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background: var(--gin-color-text);
}
body .toolbar .toolbar-bar .toolbar-toggle-orientation button:hover:before, body .toolbar .toolbar-bar .toolbar-toggle-orientation button:focus:before {
  background: var(--gin-color-primary);
}

.toolbar-horizontal .toolbar-lining {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.toolbar-horizontal .toolbar-lining .shortcuts {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: stretch;
  /**======================================================
  ||                  Edition                      ||
  =======================================================*/
  /**======================================================
  ||                  User menu.                      ||
  =======================================================*/
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions {
  padding: 0;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions h2 {
  display: flex !important;
  position: relative !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: 100%;
  font-size: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--gin-color-text-light);
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions h2:after {
  content: "Actions";
  font-size: 13px;
  padding: 10px;
  line-height: 13px;
  font-weight: normal;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions h2:before {
  font-size: 16pt;
  content: "";
  background: var(--gin-color-text-light);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox=' 0 0  24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:before, .toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 1px;
  background: rgb(170, 170, 170);
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:before {
  left: 0;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:after {
  right: 0;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions ul {
  display: none;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  position: absolute;
  width: auto;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions ul li a {
  align-self: stretch;
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:hover h2 {
  background: var(--gin-bg-item-hover);
}
.toolbar-horizontal .toolbar-lining .shortcuts #block-main-actions:hover ul {
  display: flex;
  background: var(--gin-bg-app);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 20px 20px 40px rgba(0, 0, 0, 0.08);
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: auto;
  flex-grow: 0;
  height: 100%;
  padding: 0;
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu .toolbar-icon-user {
  margin: 0;
  width: 100%;
  color: var(--gin-color-text-light);
  align-self: stretch;
  vertical-align: middle;
  line-height: 25px;
  padding-left: 40px !important;
  padding-right: 20px !important;
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu .toolbar-icon-user:before {
  display: block;
  height: 20px;
  width: 20px;
  right: auto !important;
  left: 10px !important;
  background: var(--gin-color-text-light);
  top: 1.5rem;
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu nav {
  position: absolute;
  display: none;
  right: 0;
  top: calc(100% - 1px);
  background: var(--gin-bg-app);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 20px 20px 40px rgba(0, 0, 0, 0.12);
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu:hover nav {
  display: block;
}

.gin--horizontal-toolbar #toolbar-administration .menu-item__tools, .gin--horizontal-toolbar #toolbar-administration .menu-item__admin_toolbar_tools-help {
  margin-left: 0 !important;
}

body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-left: 240px;
}

.toolbar-vertical {
  /**======================================================
  ||                  top toolbar                      ||
  =======================================================*/
  /**======================================================
  ||                  Sticky                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-bar {
  background: var(--gin-color-button-text) !important;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12) !important;
}
.toolbar-vertical .toolbar-bar a {
  color: var(--gin-color-text) !important;
}
.toolbar-vertical .toolbar-bar .toolbar-tab > .toolbar-icon:before {
  background: var(--gin-color-text) !important;
}
.toolbar-vertical .toolbar-tray.is-active {
  transition: min-width 0.2s ease;
  min-width: 240px;
  /**======================================================
  ||                  shortcuts                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-icon-admin-toolbar-tools-help:before {
  left: 1.7rem !important;
}
.toolbar-vertical .toolbar-tray.is-active:hover {
  min-width: 240px;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining {
  display: flex;
  flex-direction: column;
  min-height: auto;
  height: 100vh;
  /**======================================================
  ||                  commons                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining ul, .toolbar-vertical .toolbar-tray.is-active .toolbar-lining li {
  margin: 0;
  padding: 0;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration {
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  /**======================================================
  ||                  Menu items                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item {
  /**======================================================
  ||                  Sub menu                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item a {
  white-space: nowrap;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item .toolbar-icon.toolbar-handle:focus {
  background: transparent !important;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item.open {
  background: var(--gin-bg-item-hover);
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item.open > .toolbar-menu {
  background: transparent;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item.open .level-3 > ul {
  background: none;
}
.toolbar-vertical .toolbar-tray.is-active .toolbar-lining .toolbar-menu-administration .menu-item.open a:not(.toolbar-icon) {
  padding: 2rem;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  /**======================================================
  ||                  Editino                      ||
  =======================================================*/
  /**======================================================
  ||                  User menu.                      ||
  =======================================================*/
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions {
  position: relative;
  margin: 0;
  flex-grow: 1;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions h2 {
  padding: 10px 0;
  display: flex !important;
  position: relative !important;
  overflow: auto;
  clip: auto;
  width: auto;
  height: auto;
  font-size: 0;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: var(--gin-color-text-light);
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions h2:after {
  content: "Actions";
  font-size: 13px;
  padding: 10px;
  line-height: 13px;
  font-weight: normal;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions h2:before {
  font-size: 16pt;
  content: "";
  background: var(--gin-color-text-light);
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox=' 0 0  24 24' width='22' height='22'%3e%3cpath fill='none' d='M 23.051 11.998 C 23.051 18.073 18.126 22.998 12.051 22.998 C 5.976 22.998 1.051 18.073 1.051 11.998 C 1.051 5.923 5.976 0.998 12.051 0.998 C 18.126 0.998 23.051 5.923 23.051 11.998 Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3ccircle style='' cx='5.825' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='11.785' cy='11.998' r='1.983'%3e%3c/circle%3e%3ccircle style='' cx='17.745' cy='11.998' r='1.983'%3e%3c/circle%3e%3c/svg%3e");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:before, .toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 1px;
  background: rgb(170, 170, 170);
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:before {
  left: 0;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:after {
  right: 0;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions ul {
  max-height: 0;
  max-width: none;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  width: 100%;
  transition: max-height 0.6s ease;
  position: relative;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions ul li a {
  align-self: stretch;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12) !important;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:hover h2 {
  background: var(--gin-bg-item-hover);
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts #block-main-actions:hover ul {
  max-height: 100vh;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu {
  flex-grow: 0;
  justify-self: flex-end;
  text-align: left;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu .toolbar-icon-user {
  margin: 0;
  width: 100%;
  color: var(--gin-color-text-light);
  line-height: 2.5rem;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu .toolbar-icon-user:before {
  display: block;
  height: 20px;
  width: 20px;
  background: var(--gin-color-text-light);
  top: 1.5rem;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.12) !important;
}
.toolbar-vertical .toolbar-tray.is-active .shortcuts .user-menu:hover nav {
  max-height: 20rem;
  transition: max-height 0.3s linear;
}
@media (min-width: 1024px) {
  .toolbar-vertical.toolbar-tray-open .region-sticky {
    top: 0;
  }
  .toolbar-vertical.toolbar-tray-open .sticky-shadow {
    top: 48px;
  }
  .toolbar-vertical.toolbar-tray-open .page-wrapper__node-edit-form .layout-region-node-secondary {
    top: 0 !important;
    height: 100% !important;
  }
}

.toolbar-fixed.toolbar-vertical .toolbar-oriented .toolbar-menu-administration {
  margin-left: 0 !important;
}
.toolbar-fixed.toolbar-vertical .toolbar-oriented .toolbar-menu-administration > .toolbar-menu {
  flex-direction: column;
}
@media (min-width: 976px) {
  .toolbar-fixed.toolbar-vertical {
    padding-top: 0 !important;
  }
  .toolbar-fixed.toolbar-vertical .toolbar-bar {
    height: 100% !important;
    top: 0;
    width: 0 !important;
  }
  .toolbar-fixed.toolbar-vertical .toolbar-oriented {
    width: 0 !important;
  }
}

.admin .toolbar-lining .shortcuts > *:not(.user-menu) {
  display: none;
}

.toolbar-horizontal .toolbar-lining .shortcuts .user-menu > a.toolbar-icon-user {
  padding: 20px 40px 20px 1rem;
  line-height: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.toolbar-horizontal .toolbar-lining .shortcuts .user-menu > a.toolbar-icon-user:before {
  top: 50%;
  right: 1rem;
  left: auto;
  transform: translateY(-50%);
}

.toolbar-vertical .toolbar-lining .shortcuts .user-menu > a.toolbar-icon-user {
  text-align: center;
}
.toolbar-vertical .toolbar-lining .shortcuts .user-menu > a.toolbar-icon-user:before {
  top: 50%;
}

.toolbar-menu-administration {
  --scroll-left: 0px;
}
.toolbar-menu-administration .hover-intent > .toolbar-menu {
  margin-left: calc(var(--scroll-left));
}

.shortcuts #block-main-actions ul {
  max-width: 20vw;
  overflow-x: auto;
  white-space: nowrap;
}

#toolbar-item-administration-tray {
  max-width: 100vw;
}
#toolbar-item-administration-tray .toolbar-lining {
  width: 100%;
}
/*# sourceMappingURL=toolbar.css.map */
