.region-breadcrumb {
  display: flex;
}

.language-switcher-language-url {
  position: relative;
  margin-right: 1rem;
  padding-right: 1rem;
  font-size: 0.79rem;
}
.language-switcher-language-url:after {
  content: "|";
  margin-left: 1rem;
  position: absolute;
  top: 0;
  right: 1px;
}
.language-switcher-language-url ul {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  max-height: 100px;
  overflow: auto;
  background: var(--gin-bg-layer);
  z-index: 999;
  margin: 0;
  padding: 0;
  left: -0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 20px 20px 40px rgba(0, 0, 0, 0.12);
}
.language-switcher-language-url ul li {
  padding: 0;
  padding-right: 0 !important;
  margin: 0;
}
.language-switcher-language-url ul li a {
  color: var(--gin-color-text);
  padding: 0.5rem;
  display: block;
  margin: 0;
}
.language-switcher-language-url ul li a:hover {
  background: var(--gin-color-primary);
  color: var(--gin-color-button-text);
}
.language-switcher-language-url ul li.is-active a {
  color: var(--gin-color-primary);
}
.language-switcher-language-url ul li.is-active a:hover {
  color: var(--gin-color-button-text);
}
.language-switcher-language-url:hover ul {
  display: flex;
}

.form-type--entity-autocomplete-edit-wrapper {
  display: flex;
}
.form-type--entity-autocomplete-edit-wrapper > input {
  align-self: center;
}
.form-type--entity-autocomplete-edit-wrapper > .button {
  margin-left: 1rem;
  align-self: center;
}

@media (min-width: 1024px) {
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
    transition: width 0.2s ease, box-shadow 0.2s ease;
  }
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary:before {
    background: var(--gin-bg-app);
    position: fixed;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary:after {
    background: var(--gin-color-primary);
    content: "";
    position: fixed;
    bottom: 0;
    width: 2px;
    right: 0;
    opacity: 1;
    height: 0;
    transition: height 1s linear, opacity 0.2s ease;
    transition-duration: 0s, 0s;
  }
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary:hover {
    transition-delay: 1s, 0s;
    width: 50% !important;
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary:hover:after {
    height: 100%;
    opacity: 0;
    transition-delay: 0s, 1s;
    transition-duration: 1s, 0.2s;
  }
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary:hover:before {
    width: 50%;
    opacity: 0.5;
    z-index: 998;
    transition-delay: 1s;
  }
}
.gin--horizontal-toolbar .layout-region-node-actions,
.gin--horizontal-toolbar.toolbar-tray-open .layout-region-node-actions {
  top: auto !important;
  bottom: 0;
  width: 100%;
  right: var(--gin-sidebar-width);
  padding-right: 1rem;
  justify-content: flex-end;
}

.field-group-tabs-wrapper .vertical-tabs .vertical-tabs__menu {
  max-width: 15rem;
}
@media screen and (min-width: 85em) {
  .field-group-tabs-wrapper .vertical-tabs .vertical-tabs__items--processed {
    margin-left: 15rem;
  }
}

body .select2-container .select2-selection--single {
  padding: 0.6rem 1rem;
  height: auto;
}
body .select2-container .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
body .select2-container--open {
  z-index: 100000;
}

/**======================================================
||                  all                      ||
=======================================================*/
.entities-list .item-container > .edit-button.button,
.entities-list .item-container > .remove-button.button,
.entities-list .item-container > .replace-button.button {
  top: 0;
  opacity: 0;
  bottom: auto;
  transition: opacity 0.3s ease, right 0.3s ease;
}

.entities-list .item-container:after {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: white;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='8 12 80 72'%3e%3cpath d='M19.9,60.9c6,0,10.9-5,10.9-10.9s-5-10.9-10.9-10.9c-6,0-10.9,5-10.9,10.9S14,60.9,19.9,60.9z'%3e%3c/path%3e %3cpath d='M50,60.9c6,0,10.9-5,10.9-10.9s-5-10.9-10.9-10.9c-6,0-10.9,5-10.9,10.9S44,60.9,50,60.9z'%3e%3c/path%3e %3cpath d='M80.1,39.1c-6,0-10.9,5-10.9,10.9s5,10.9,10.9,10.9c6,0,10.9-5,10.9-10.9S86,39.1,80.1,39.1z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/**======================================================
||                  replace                      ||
=======================================================*/
.entities-list .item-container > .replace-button.button {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='8 12 80 72'%3e%3cpath d='M40.0083475,20 L48,20 L55.9916525,20 C62.6345972,20 68,25.3614709 68,32.0171236 L68,55.9453125 L76,55.9453125 L76,32.0171236 C76,20.9418794 67.0515628,12 55.9916525,12 L48,12 L40.0083475,12 L40.0083475,20 L40.0083475,20 Z M55.9916525,76 L48,76 L40.0083475,76 C33.3893733,76 28,70.6053111 28,64.0002268 L28,44 L20,44 L20,64.0002268 C20,75.0218246 28.9693289,84 40.0083475,84 L48,84 L55.9916525,84 L55.9916525,76 L55.9916525,76 Z'%3e%3c/path%3e %3cpath d='M26.8284271,37.1715729 C25.26633,35.6094757 22.73367,35.6094757 21.1715729,37.1715729 L9.17157288,49.1715729 C7.60947571,50.73367 7.60947571,53.26633 9.17157288,54.8284271 C10.73367,56.3905243 13.26633,56.3905243 14.8284271,54.8284271 L24,46 L33.1715729,54.8284271 C34.73367,56.3905243 37.26633,56.3905243 38.8284271,54.8284271 C40.3905243,53.26633 40.3905243,50.73367 38.8284271,49.1715729 L26.8284271,37.1715729 Z'%3e%3c/path%3e %3cpath d='M72,50 L62.8284271,41.1715729 C61.26633,39.6094757 58.73367,39.6094757 57.1715729,41.1715729 C55.6094757,42.73367 55.6094757,45.26633 57.1715729,46.8284271 L69.1715729,58.8284271 C70.73367,60.3905243 73.26633,60.3905243 74.8284271,58.8284271 L86.8284271,46.8284271 C88.3905243,45.26633 88.3905243,42.73367 86.8284271,41.1715729 C85.26633,39.6094757 82.73367,39.6094757 81.1715729,41.1715729 L72,50 Z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  z-index: 10;
  background-color: white;
}

.entities-list .item-container:hover > .replace-button.button {
  right: 7.5rem;
  opacity: 1;
}

/**======================================================
||                  Edit                      ||
=======================================================*/
.entities-list .item-container:hover > .edit-button.button {
  opacity: 1;
  right: 2.5rem;
}

/**======================================================
||                  remove                      ||
=======================================================*/
.entities-list .item-container:hover > .remove-button.button {
  right: 5rem;
  opacity: 1;
}
/*# sourceMappingURL=screen.css.map */
