//.adminimal {
//
//  .tabs.primary{
//    width: 100%;
//  }
//
//  .content-header {
//    padding-top: 1rem;
//
//
//    .region-header {
//      .breadcrumb {
//        padding: 0;
//        margin-bottom: 1rem;
//
//        a {
//          color: white;
//        }
//
//        li:before {
//          color: white;
//        }
//      }
//    }
//
//  }
//}
