/**======================================================
||                  all                      ||
=======================================================*/
.entities-list .item-container > .edit-button.button,
.entities-list .item-container > .remove-button.button,
.entities-list .item-container > .replace-button.button
{
  top: 0;
  opacity: 0;
  bottom: auto;
  transition: opacity .3s ease, right .3s ease;
}

.entities-list .item-container:after{
  content:'';
  display: block;
  width: 2rem;
  height: 2rem;
  background: white;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='8 12 80 72'%3e%3cpath d='M19.9,60.9c6,0,10.9-5,10.9-10.9s-5-10.9-10.9-10.9c-6,0-10.9,5-10.9,10.9S14,60.9,19.9,60.9z'%3e%3c/path%3e %3cpath d='M50,60.9c6,0,10.9-5,10.9-10.9s-5-10.9-10.9-10.9c-6,0-10.9,5-10.9,10.9S44,60.9,50,60.9z'%3e%3c/path%3e %3cpath d='M80.1,39.1c-6,0-10.9,5-10.9,10.9s5,10.9,10.9,10.9c6,0,10.9-5,10.9-10.9S86,39.1,80.1,39.1z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  margin: .75rem;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
}


/**======================================================
||                  replace                      ||
=======================================================*/
.entities-list .item-container > .replace-button.button {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='8 12 80 72'%3e%3cpath d='M40.0083475,20 L48,20 L55.9916525,20 C62.6345972,20 68,25.3614709 68,32.0171236 L68,55.9453125 L76,55.9453125 L76,32.0171236 C76,20.9418794 67.0515628,12 55.9916525,12 L48,12 L40.0083475,12 L40.0083475,20 L40.0083475,20 Z M55.9916525,76 L48,76 L40.0083475,76 C33.3893733,76 28,70.6053111 28,64.0002268 L28,44 L20,44 L20,64.0002268 C20,75.0218246 28.9693289,84 40.0083475,84 L48,84 L55.9916525,84 L55.9916525,76 L55.9916525,76 Z'%3e%3c/path%3e %3cpath d='M26.8284271,37.1715729 C25.26633,35.6094757 22.73367,35.6094757 21.1715729,37.1715729 L9.17157288,49.1715729 C7.60947571,50.73367 7.60947571,53.26633 9.17157288,54.8284271 C10.73367,56.3905243 13.26633,56.3905243 14.8284271,54.8284271 L24,46 L33.1715729,54.8284271 C34.73367,56.3905243 37.26633,56.3905243 38.8284271,54.8284271 C40.3905243,53.26633 40.3905243,50.73367 38.8284271,49.1715729 L26.8284271,37.1715729 Z'%3e%3c/path%3e %3cpath d='M72,50 L62.8284271,41.1715729 C61.26633,39.6094757 58.73367,39.6094757 57.1715729,41.1715729 C55.6094757,42.73367 55.6094757,45.26633 57.1715729,46.8284271 L69.1715729,58.8284271 C70.73367,60.3905243 73.26633,60.3905243 74.8284271,58.8284271 L86.8284271,46.8284271 C88.3905243,45.26633 88.3905243,42.73367 86.8284271,41.1715729 C85.26633,39.6094757 82.73367,39.6094757 81.1715729,41.1715729 L72,50 Z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  z-index: 10;
  background-color: white;
}

.entities-list .item-container:hover  > .replace-button.button {
  right: 7.5rem;
  opacity: 1;
}


/**======================================================
||                  Edit                      ||
=======================================================*/

.entities-list .item-container:hover  > .edit-button.button {
  opacity: 1;
  right: 2.5rem;
}


/**======================================================
||                  remove                      ||
=======================================================*/
.entities-list .item-container:hover  > .remove-button.button {
  right: 5rem;
  opacity: 1;
}
