.field-group-tabs-wrapper{
  .vertical-tabs{
    $tab-width: 15rem;

    .vertical-tabs__menu{
      max-width: $tab-width;
    }

    @media screen and (min-width: 85em) {
      .vertical-tabs__items--processed{
        margin-left: $tab-width;
      }
    }
  }
}
