
.gin--horizontal-toolbar .layout-region-node-actions, .gin--horizontal-toolbar.toolbar-tray-open .layout-region-node-actions {

  top: auto !important;
  bottom: 0;
  width: 100%;
  right: var(--gin-sidebar-width);
  padding-right: 1rem;
  justify-content: flex-end;
}
