.region-breadcrumb {
  display: flex;
}

.language-switcher-language-url {
  position: relative;
  margin-right: 1rem;
  padding-right: 1rem;
  font-size: .79rem;

  &:after {
    content: '|';
    margin-left: 1rem;
    position: absolute;
    top: 0;
    right: 1px;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    max-height: 100px;
    overflow: auto;
    background: var(--gin-bg-layer);
    z-index: 999;
    margin: 0;
    padding: 0;
    left: -.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 20px 20px 40px rgba(0, 0, 0, .12);

    li {
      padding: 0;
      padding-right: 0 !important;
      margin: 0;

      a {
        color: var(--gin-color-text);
        padding: .5rem;
        display: block;
        margin: 0;

        &:hover {
          background: var(--gin-color-primary);
          color: var(--gin-color-button-text);
        }
      }

      &.is-active {
        a {
          color: var(--gin-color-primary);

          &:hover {
            color: var(--gin-color-button-text);
          }
        }
      }
    }
  }

  &:hover ul {
    display: flex;
  }
}

