@media (min-width: 1024px) {
  .gin--edit-form .page-wrapper__node-edit-form .layout-region-node-secondary {
    transition: width .2s ease, box-shadow .2s ease;

    &:before {
      background: var(--gin-bg-app);
      position: fixed;
      opacity: 0;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      transition: opacity .2s ease;
      pointer-events: none;
    }

    &:after {
      background: var(--gin-color-primary);
      //background: red;
      content: '';
      position: fixed;
      bottom: 0;
      width: 2px;
      right: 0;
      opacity: 1;
      height: 0;
      transition: height 1s linear, opacity .2s ease;
      transition-duration: 0s,0s;

    }

    &:hover {
      transition-delay: 1s, 0s;
      width: 50% !important;
      box-shadow: -20px 20px 40px rgba(0, 0, 0, .2);
      z-index: 999;

      &:after {
        height: 100%;
        opacity: 0;
        transition-delay: 0s, 1s;
        transition-duration: 1s,.2s;
      }

      &:before {
        width: 50%;
        opacity: .5;
        z-index: 998;
        transition-delay: 1s;

      }
    }
  }

}
