body {
  .select2-container .select2-selection--single {
    padding: .6rem 1rem;
    height: auto;

    .select2-selection__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .select2-container--open {
    z-index: 100000;
  }
}
